 <footer>
    <div class="footer">
      <p><a href="/" style="color: white;">&#169;<script>document.write(new Date().getFullYear());</script> Limonee</a>, <a style="color: white;" target="_blank" href="https://mail.google.com/mail/?view=cm&to=info@limonee.be">Email</a>
</p>
    </div>
  </footer>