<!DOCTYPE html>
<html>
    <head>
        <title>Limonee - 404</title>
        <link rel="stylesheet" href="/styles.css">
        <meta charset="UTF-8">
        <meta name="description" content="Drink de beste Limonee!">
        <meta name="keywords" content="Limonade, limonee, limone, lekker, zoet, fris">
        <meta name="author" content="limonee">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.global/638bdc36-d676-479e-8f39-ff81bc2e3bb1/contact%2Fimages%2Fapple-touch-icon.png?v=1735472049644">
<link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.global/638bdc36-d676-479e-8f39-ff81bc2e3bb1/contact%2Fimages%2Ffavicon-32x32.png?v=1735472050279">
<link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.global/638bdc36-d676-479e-8f39-ff81bc2e3bb1/contact%2Fimages%2Ffavicon-16x16.png?v=1735472049971">
<link rel="manifest" href="/site.webmanifest">
      <meta name="google-site-verification" content="eGpXkgFyP3S7TI0zaV8w0CpK6e-BBKJxkpJyM2NHH4o" />
      <meta name="msvalidate.01" content="DB1FB07C10E03B70BA6544D54607890A" />
      
    </head>
    <body>
   <%- include('partials/header') %>
        <h2>
            Oei!
        </h2>
        <p id="par1-1">
          Deze pagina is niet gevonden! <a href="#" onclick="goBack()">Ga terug.</a>
          </p>
      <p>
         Is het een fout? Klik op deze knop om het te verzenden:
      </p>
      <form   action="https://formspree.io/f/xdkeopwa"
  method="POST"
                  onsubmit="handleSubmit(event)">
        <input type="hidden" id="fout" name="fout">
                     <div class="col">
                  <input type="text" name="name" class="form-control" placeholder="Naam" required>
                </div>
                <div class="col">
                  <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                </div>
        <textarea placeholder="Beschrijf het pobleem" class="form-control" name="message" rows="10" required></textarea>
        <br>
          <button type="submit">Probleem melden</button>
      </form>
        <script src="script.js"></script>
      <script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
                <script>
        function generateErrorCode() {
            // Genereer een willekeurige code (bijvoorbeeld een 6-cijferige code)
            const randomCode = 404;
            document.getElementById('fout').value = randomCode;
        }

        function handleSubmit(event) {
            // Genereer een nieuwe willekeurige code voordat het formulier wordt verzonden
            generateErrorCode();
        }
    </script>
      <script>
  function goBack() {
    window.history.back();
  }
</script>
      <br>
      <br>
      <br>
      <br>
    </body>
      <%- include('partials/footer') %>
</html>