<!DOCTYPE html>
<html>
<head>
  <title>Dashboard - Limonee</title>
</head>
<body>
  <%- include('partials/header') %>
  <h2>Welkom op je dashboard, <%= username %>!</h2>
  <p>Hier kun je je instellingen beheren, badges bekijken of andere persoonlijke dingen toevoegen.</p>
</body>
      <%- include('partials/footer') %>
</html>
